body{
    background-color: white(5, 5, 104);
    font-family: 'Inter', sans-serif;

}


h1{
    color: rgb(200, 60, 97);
    text-align: center;
    font-size: 55px;
    padding-bottom: 20px;
    font-family: 'Poppins', italic;

}

.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.testo{
    text-align: center;
    padding-bottom: 35px;
    font-weight: 500;
    font-size: 20px;

}


.riquadro{
    width: 30%;
    margin: 1rem;
    float: left;
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(1, 1, 27);
    box-shadow: 7px 7px 17px 9px rgb(121, 121, 121);
    transition: transform .1s;
}

.riquadro:hover{
    transform: scale(1.5);
}



.foto{
    width: 28%;
    float: left;
    border-radius: 4px 0px 0px 4px;
}

.nome{
    font-size: 25px;
    color: white;
    padding:10px 30px 10px 130px;
    font-weight: 900;
}

.professione{
    font-size: 15px;
    color: white;
    padding-left: 130px;
    padding-bottom: 10px
}

.email{
    font-size: 15px;
    color: rgb(37, 145, 211);
    padding-left: 130px;
    
}

.seconda-riga{
    padding-top:190px;
}

a:link {
    text-decoration: none;
    color: rgb(37, 145, 211);
}

a:hover {
    color: aqua;